$colorGray: #e2e6ea;
$colorWhite: #ffffff;
$colorMenuDefault: #4a637f;
$calibry: Calibri, sans-serif;

.bg-gray {
  background-color: $colorGray;
}

.cursor-pointer {
  cursor: pointer;
}

.width-logo {
  width: 200px;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.vertical-center {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.nav-link {
  font-size: 12pt;
  color: $colorMenuDefault !important;
  font-weight: 500;
  font-family: $calibry;
}

.navbar-toggler-icon {
  background-color: $colorMenuDefault;
}

.title-content {
  font-size: 24pt;
  padding-left: 50px;
  position: absolute;
  top: 15%;
  color: $colorMenuDefault !important;
  font-weight: 500;
  font-family: $calibry;
}

.title-mobile {
  font-size: 24pt;
  color: $colorMenuDefault !important;
  font-weight: 500;
  font-family: $calibry;
}

.footer-text {
  font-size: 12pt;
  color: $colorMenuDefault;
  font-family: $calibry;
}

.dropdown-item {
  font-weight: 500;
  border-bottom: 1px solid $colorGray;

  :hover {
    color: $colorMenuDefault;
  }
}

.calibri-white {
  font-size: 12pt;
  color: $colorWhite;
  font-family: $calibry;
}

.bg-dark .dropdown-menu {
  background-color: $colorMenuDefault;
}

.bg-mobile-header {
  background: url("/images/logo-blr-50.png") no-repeat;
  background-size: 90px;
  background-position-x: 10px;
  background-position-y: center;
  background-color: $colorGray;
}

.bg-mobile-color {
  background-color: $colorGray;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.mr-10 {
  margin-right: 10px;
}

.set-to-back {
  z-index: -1;
  position: relative;
}

.text-image-positioning {
  padding-left: 50px;
  text-align: justify;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header-z-position {
  position: relative;
  z-index: 1000;
}
